apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
  namespace: {{ mysql_k8s_namespace }}
type: Opaque
stringData:
  mysql-root-password: "{{ mysql_k8s_root_password }}"
  mysql-user: "{{ mysql_k8s_user }}"
  mysql-password: "{{ mysql_k8s_password }}"

---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: mysql-local-storage
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: mysql-pv-volume
  labels:
    type: local
spec:
  storageClassName: mysql-local-storage
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/var/lib/k3d-vol/mysql"
    type: DirectoryOrCreate

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pv-claim-persistent
  namespace: {{ mysql_k8s_namespace }}
spec:
  storageClassName: mysql-local-storage
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mysql
  namespace: {{ mysql_k8s_namespace }}
  labels:
    app: mysql
spec:
  serviceName: "mysql-wso2"
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:8.0.34
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: mysql-root-password
            - name: MYSQL_DATABASE
              value: "{{ mysql_k8s_database }}"
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: mysql-user
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: mysql-password
          ports:
            - containerPort: 3306
          volumeMounts:
            - mountPath: /var/lib/mysql
              name: mysql-persistent-storage
      volumes:
        - name: mysql-persistent-storage
          persistentVolumeClaim:
            claimName: mysql-pv-claim-persistent
      
      nodeSelector:
        node_type: high_memory
      
      tolerations:
        - key: "dedicated"
          operator: "Equal"
          value: "wso2"
          effect: "NoSchedule"

---
apiVersion: v1
kind: Service
metadata:
  name: mysql-wso2
  namespace: {{ mysql_k8s_namespace }}
spec:
  type: ClusterIP
  selector:
    app: mysql
  ports:
    - port: 3306
      targetPort: 3306
